@charset "UTF-8";

@font-face {
  font-family: "ftg-hotel-restaurant";
  src:url("../fonts/icon/hotel/hotel-restaurant.eot");
  src:url("../fonts/icon/hotel/hotel-restaurant.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon/hotel/hotel-restaurant.woff") format("woff"),
    url("../fonts/icon/hotel/hotel-restaurant.ttf") format("truetype"),
    url("../fonts/icon/hotel/hotel-restaurant.svg#hotel-restaurant") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-ftg-hotel-icon]:before {
  font-family: "ftg-hotel-restaurant" !important;
  content: attr(data-ftg-hotel-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="ftg-hotel-icon-"]:before,
[class*=" ftg-hotel-icon-"]:before {
  font-family: "ftg-hotel-restaurant" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ftg-hotel-icon-001:before {
  content: "a";
}
.ftg-hotel-icon-002:before {
  content: "b";
}
.ftg-hotel-icon-003:before {
  content: "c";
}
.ftg-hotel-icon-004:before {
  content: "d";
}
.ftg-hotel-icon-005:before {
  content: "e";
}
.ftg-hotel-icon-006:before {
  content: "f";
}
.ftg-hotel-icon-007:before {
  content: "g";
}
.ftg-hotel-icon-008:before {
  content: "h";
}
.ftg-hotel-icon-009:before {
  content: "i";
}
.ftg-hotel-icon-010:before {
  content: "j";
}
.ftg-hotel-icon-011:before {
  content: "k";
}
.ftg-hotel-icon-065:before {
  content: "l";
}
.ftg-hotel-icon-012:before {
  content: "m";
}
.ftg-hotel-icon-013:before {
  content: "n";
}
.ftg-hotel-icon-026:before {
  content: "o";
}
.ftg-hotel-icon-025:before {
  content: "p";
}
.ftg-hotel-icon-024:before {
  content: "q";
}
.ftg-hotel-icon-023:before {
  content: "r";
}
.ftg-hotel-icon-022:before {
  content: "s";
}
.ftg-hotel-icon-021:before {
  content: "t";
}
.ftg-hotel-icon-020:before {
  content: "u";
}
.ftg-hotel-icon-019:before {
  content: "v";
}
.ftg-hotel-icon-018:before {
  content: "w";
}
.ftg-hotel-icon-017:before {
  content: "x";
}
.ftg-hotel-icon-016:before {
  content: "y";
}
.ftg-hotel-icon-015:before {
  content: "z";
}
.ftg-hotel-icon-014:before {
  content: "A";
}
.ftg-hotel-icon-027:before {
  content: "B";
}
.ftg-hotel-icon-028:before {
  content: "C";
}
.ftg-hotel-icon-029:before {
  content: "D";
}
.ftg-hotel-icon-030:before {
  content: "E";
}
.ftg-hotel-icon-031:before {
  content: "F";
}
.ftg-hotel-icon-032:before {
  content: "G";
}
.ftg-hotel-icon-033:before {
  content: "H";
}
.ftg-hotel-icon-034:before {
  content: "I";
}
.ftg-hotel-icon-035:before {
  content: "J";
}
.ftg-hotel-icon-036:before {
  content: "K";
}
.ftg-hotel-icon-038:before {
  content: "L";
}
.ftg-hotel-icon-039:before {
  content: "M";
}
.ftg-hotel-icon-037:before {
  content: "N";
}
.ftg-hotel-icon-052:before {
  content: "O";
}
.ftg-hotel-icon-051:before {
  content: "P";
}
.ftg-hotel-icon-050:before {
  content: "Q";
}
.ftg-hotel-icon-049:before {
  content: "R";
}
.ftg-hotel-icon-048:before {
  content: "S";
}
.ftg-hotel-icon-047:before {
  content: "T";
}
.ftg-hotel-icon-046:before {
  content: "U";
}
.ftg-hotel-icon-045:before {
  content: "V";
}
.ftg-hotel-icon-044:before {
  content: "W";
}
.ftg-hotel-icon-042:before {
  content: "X";
}
.ftg-hotel-icon-041:before {
  content: "Y";
}
.ftg-hotel-icon-040:before {
  content: "Z";
}
.ftg-hotel-icon-043:before {
  content: "0";
}
.ftg-hotel-icon-053:before {
  content: "1";
}
.ftg-hotel-icon-054:before {
  content: "2";
}
.ftg-hotel-icon-055:before {
  content: "3";
}
.ftg-hotel-icon-056:before {
  content: "4";
}
.ftg-hotel-icon-057:before {
  content: "5";
}
.ftg-hotel-icon-058:before {
  content: "6";
}
.ftg-hotel-icon-059:before {
  content: "7";
}
.ftg-hotel-icon-060:before {
  content: "8";
}
.ftg-hotel-icon-061:before {
  content: "9";
}
.ftg-hotel-icon-062:before {
  content: "!";
}
.ftg-hotel-icon-063:before {
  content: "\"";
}
.ftg-hotel-icon-064:before {
  content: "#";
}
.ftg-hotel-icon-066:before {
  content: "$";
}
.ftg-hotel-icon-079:before {
  content: "%";
}
.ftg-hotel-icon-092:before {
  content: "&";
}
.ftg-hotel-icon-105:before {
  content: "'";
}
.ftg-hotel-icon-118:before {
  content: "(";
}
.ftg-hotel-icon-131:before {
  content: ")";
}
.ftg-hotel-icon-144:before {
  content: "*";
}
.ftg-hotel-icon-157:before {
  content: "+";
}
.ftg-hotel-icon-067:before {
  content: ",";
}
.ftg-hotel-icon-080:before {
  content: "-";
}
.ftg-hotel-icon-068:before {
  content: ".";
}
.ftg-hotel-icon-081:before {
  content: "/";
}
.ftg-hotel-icon-093:before {
  content: ":";
}
.ftg-hotel-icon-094:before {
  content: ";";
}
.ftg-hotel-icon-095:before {
  content: "<";
}
.ftg-hotel-icon-096:before {
  content: "=";
}
.ftg-hotel-icon-097:before {
  content: ">";
}
.ftg-hotel-icon-098:before {
  content: "?";
}
.ftg-hotel-icon-099:before {
  content: "@";
}
.ftg-hotel-icon-100:before {
  content: "[";
}
.ftg-hotel-icon-101:before {
  content: "]";
}
.ftg-hotel-icon-102:before {
  content: "^";
}
.ftg-hotel-icon-103:before {
  content: "_";
}
.ftg-hotel-icon-104:before {
  content: "`";
}
.ftg-hotel-icon-091:before {
  content: "{";
}
.ftg-hotel-icon-090:before {
  content: "|";
}
.ftg-hotel-icon-089:before {
  content: "}";
}
.ftg-hotel-icon-088:before {
  content: "~";
}
.ftg-hotel-icon-087:before {
  content: "\\";
}
.ftg-hotel-icon-086:before {
  content: "\e000";
}
.ftg-hotel-icon-085:before {
  content: "\e001";
}
.ftg-hotel-icon-084:before {
  content: "\e002";
}
.ftg-hotel-icon-083:before {
  content: "\e003";
}
.ftg-hotel-icon-082:before {
  content: "\e004";
}
.ftg-hotel-icon-069:before {
  content: "\e005";
}
.ftg-hotel-icon-070:before {
  content: "\e006";
}
.ftg-hotel-icon-071:before {
  content: "\e007";
}
.ftg-hotel-icon-072:before {
  content: "\e008";
}
.ftg-hotel-icon-073:before {
  content: "\e009";
}
.ftg-hotel-icon-074:before {
  content: "\e00a";
}
.ftg-hotel-icon-075:before {
  content: "\e00b";
}
.ftg-hotel-icon-076:before {
  content: "\e00c";
}
.ftg-hotel-icon-077:before {
  content: "\e00d";
}
.ftg-hotel-icon-078:before {
  content: "\e00e";
}
.ftg-hotel-icon-117:before {
  content: "\e00f";
}
.ftg-hotel-icon-116:before {
  content: "\e010";
}
.ftg-hotel-icon-115:before {
  content: "\e011";
}
.ftg-hotel-icon-114:before {
  content: "\e012";
}
.ftg-hotel-icon-113:before {
  content: "\e013";
}
.ftg-hotel-icon-112:before {
  content: "\e014";
}
.ftg-hotel-icon-111:before {
  content: "\e015";
}
.ftg-hotel-icon-110:before {
  content: "\e016";
}
.ftg-hotel-icon-109:before {
  content: "\e017";
}
.ftg-hotel-icon-108:before {
  content: "\e018";
}
.ftg-hotel-icon-107:before {
  content: "\e019";
}
.ftg-hotel-icon-106:before {
  content: "\e01a";
}
.ftg-hotel-icon-119:before {
  content: "\e01b";
}
.ftg-hotel-icon-120:before {
  content: "\e01c";
}
.ftg-hotel-icon-121:before {
  content: "\e01d";
}
.ftg-hotel-icon-122:before {
  content: "\e01e";
}
.ftg-hotel-icon-123:before {
  content: "\e01f";
}
.ftg-hotel-icon-124:before {
  content: "\e020";
}
.ftg-hotel-icon-125:before {
  content: "\e021";
}
.ftg-hotel-icon-126:before {
  content: "\e022";
}
.ftg-hotel-icon-127:before {
  content: "\e023";
}
.ftg-hotel-icon-128:before {
  content: "\e024";
}
.ftg-hotel-icon-129:before {
  content: "\e025";
}
.ftg-hotel-icon-130:before {
  content: "\e026";
}
.ftg-hotel-icon-143:before {
  content: "\e027";
}
.ftg-hotel-icon-142:before {
  content: "\e028";
}
.ftg-hotel-icon-141:before {
  content: "\e029";
}
.ftg-hotel-icon-140:before {
  content: "\e02a";
}
.ftg-hotel-icon-139:before {
  content: "\e02b";
}
.ftg-hotel-icon-138:before {
  content: "\e02c";
}
.ftg-hotel-icon-137:before {
  content: "\e02d";
}
.ftg-hotel-icon-136:before {
  content: "\e02e";
}
.ftg-hotel-icon-135:before {
  content: "\e02f";
}
.ftg-hotel-icon-134:before {
  content: "\e030";
}
.ftg-hotel-icon-133:before {
  content: "\e031";
}
.ftg-hotel-icon-132:before {
  content: "\e032";
}
.ftg-hotel-icon-145:before {
  content: "\e033";
}
.ftg-hotel-icon-146:before {
  content: "\e034";
}
.ftg-hotel-icon-147:before {
  content: "\e035";
}
.ftg-hotel-icon-148:before {
  content: "\e036";
}
.ftg-hotel-icon-149:before {
  content: "\e037";
}
.ftg-hotel-icon-150:before {
  content: "\e038";
}
.ftg-hotel-icon-151:before {
  content: "\e039";
}
.ftg-hotel-icon-152:before {
  content: "\e03a";
}
.ftg-hotel-icon-153:before {
  content: "\e03b";
}
.ftg-hotel-icon-154:before {
  content: "\e03c";
}
.ftg-hotel-icon-155:before {
  content: "\e03d";
}
.ftg-hotel-icon-156:before {
  content: "\e03e";
}
.ftg-hotel-icon-169:before {
  content: "\e03f";
}
.ftg-hotel-icon-168:before {
  content: "\e040";
}
.ftg-hotel-icon-167:before {
  content: "\e041";
}
.ftg-hotel-icon-166:before {
  content: "\e042";
}
.ftg-hotel-icon-165:before {
  content: "\e043";
}
.ftg-hotel-icon-164:before {
  content: "\e044";
}
.ftg-hotel-icon-163:before {
  content: "\e045";
}
.ftg-hotel-icon-162:before {
  content: "\e046";
}
.ftg-hotel-icon-161:before {
  content: "\e047";
}
.ftg-hotel-icon-160:before {
  content: "\e048";
}
.ftg-hotel-icon-159:before {
  content: "\e049";
}
.ftg-hotel-icon-158:before {
  content: "\e04a";
}
.ftg-hotel-icon-170:before {
  content: "\e04b";
}
.ftg-hotel-icon-171:before {
  content: "\e04c";
}
.ftg-hotel-icon-172:before {
  content: "\e04d";
}
.ftg-hotel-icon-173:before {
  content: "\e04e";
}
.ftg-hotel-icon-174:before {
  content: "\e04f";
}
.ftg-hotel-icon-175:before {
  content: "\e050";
}
.ftg-hotel-icon-176:before {
  content: "\e051";
}
.ftg-hotel-icon-177:before {
  content: "\e052";
}
.ftg-hotel-icon-178:before {
  content: "\e053";
}
.ftg-hotel-icon-179:before {
  content: "\e054";
}
.ftg-hotel-icon-180:before {
  content: "\e055";
}
.ftg-hotel-icon-181:before {
  content: "\e056";
}
.ftg-hotel-icon-182:before {
  content: "\e057";
}
.ftg-hotel-icon-195:before {
  content: "\e058";
}
.ftg-hotel-icon-194:before {
  content: "\e059";
}
.ftg-hotel-icon-193:before {
  content: "\e05a";
}
.ftg-hotel-icon-192:before {
  content: "\e05b";
}
.ftg-hotel-icon-191:before {
  content: "\e05c";
}
.ftg-hotel-icon-190:before {
  content: "\e05d";
}
.ftg-hotel-icon-189:before {
  content: "\e05e";
}
.ftg-hotel-icon-188:before {
  content: "\e05f";
}
.ftg-hotel-icon-187:before {
  content: "\e060";
}
.ftg-hotel-icon-186:before {
  content: "\e061";
}
.ftg-hotel-icon-185:before {
  content: "\e062";
}
.ftg-hotel-icon-184:before {
  content: "\e063";
}
.ftg-hotel-icon-183:before {
  content: "\e064";
}
.ftg-hotel-icon-196:before {
  content: "\e065";
}
.ftg-hotel-icon-197:before {
  content: "\e066";
}
.ftg-hotel-icon-198:before {
  content: "\e067";
}
.ftg-hotel-icon-199:before {
  content: "\e068";
}
.ftg-hotel-icon-200:before {
  content: "\e069";
}
.ftg-hotel-icon-201:before {
  content: "\e06a";
}
.ftg-hotel-icon-202:before {
  content: "\e06b";
}
.ftg-hotel-icon-203:before {
  content: "\e06c";
}
.ftg-hotel-icon-204:before {
  content: "\e06d";
}
.ftg-hotel-icon-205:before {
  content: "\e06e";
}
.ftg-hotel-icon-206:before {
  content: "\e06f";
}
.ftg-hotel-icon-207:before {
  content: "\e070";
}
.ftg-hotel-icon-208:before {
  content: "\e071";
}
.ftg-hotel-icon-221:before {
  content: "\e072";
}
.ftg-hotel-icon-220:before {
  content: "\e073";
}
.ftg-hotel-icon-219:before {
  content: "\e074";
}
.ftg-hotel-icon-218:before {
  content: "\e075";
}
.ftg-hotel-icon-217:before {
  content: "\e076";
}
.ftg-hotel-icon-216:before {
  content: "\e077";
}
.ftg-hotel-icon-215:before {
  content: "\e078";
}
.ftg-hotel-icon-214:before {
  content: "\e079";
}
.ftg-hotel-icon-213:before {
  content: "\e07a";
}
.ftg-hotel-icon-212:before {
  content: "\e07b";
}
.ftg-hotel-icon-211:before {
  content: "\e07c";
}
.ftg-hotel-icon-210:before {
  content: "\e07d";
}
.ftg-hotel-icon-209:before {
  content: "\e07e";
}
.ftg-hotel-icon-222:before {
  content: "\e07f";
}
.ftg-hotel-icon-223:before {
  content: "\e080";
}
.ftg-hotel-icon-224:before {
  content: "\e081";
}
.ftg-hotel-icon-225:before {
  content: "\e082";
}
.ftg-hotel-icon-226:before {
  content: "\e083";
}
.ftg-hotel-icon-227:before {
  content: "\e084";
}
.ftg-hotel-icon-228:before {
  content: "\e085";
}
.ftg-hotel-icon-229:before {
  content: "\e086";
}
.ftg-hotel-icon-230:before {
  content: "\e087";
}
.ftg-hotel-icon-231:before {
  content: "\e088";
}
.ftg-hotel-icon-232:before {
  content: "\e089";
}
.ftg-hotel-icon-233:before {
  content: "\e08a";
}
.ftg-hotel-icon-234:before {
  content: "\e08b";
}
.ftg-hotel-icon-247:before {
  content: "\e08c";
}
.ftg-hotel-icon-246:before {
  content: "\e08d";
}
.ftg-hotel-icon-245:before {
  content: "\e08e";
}
.ftg-hotel-icon-244:before {
  content: "\e08f";
}
.ftg-hotel-icon-243:before {
  content: "\e090";
}
.ftg-hotel-icon-242:before {
  content: "\e091";
}
.ftg-hotel-icon-241:before {
  content: "\e092";
}
.ftg-hotel-icon-240:before {
  content: "\e093";
}
.ftg-hotel-icon-239:before {
  content: "\e094";
}
.ftg-hotel-icon-238:before {
  content: "\e095";
}
.ftg-hotel-icon-237:before {
  content: "\e096";
}
.ftg-hotel-icon-236:before {
  content: "\e097";
}
.ftg-hotel-icon-235:before {
  content: "\e098";
}
.ftg-hotel-icon-248:before {
  content: "\e099";
}
.ftg-hotel-icon-249:before {
  content: "\e09a";
}
.ftg-hotel-icon-250:before {
  content: "\e09b";
}
