@charset "UTF-8";

@font-face {
  font-family: "ftg-media";
  src:url("../fonts/icon/media/media.eot");
  src:url("../fonts/icon/media/media.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon/media/media.woff") format("woff"),
    url("../fonts/icon/media/media.ttf") format("truetype"),
    url("../fonts/icon/media/media.svg#media") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-ftg-media-icon]:before {
  font-family: "ftg-media" !important;
  content: attr(data-ftg-media-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="ftg-media-icon-"]:before,
[class*=" ftg-media-icon-"]:before {
  font-family: "ftg-media" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ftg-media-icon-001:before {
  content: "a";
}
.ftg-media-icon-014:before {
  content: "b";
}
.ftg-media-icon-027:before {
  content: "c";
}
.ftg-media-icon-040:before {
  content: "d";
}
.ftg-media-icon-041:before {
  content: "e";
}
.ftg-media-icon-028:before {
  content: "f";
}
.ftg-media-icon-015:before {
  content: "g";
}
.ftg-media-icon-002:before {
  content: "h";
}
.ftg-media-icon-003:before {
  content: "i";
}
.ftg-media-icon-016:before {
  content: "j";
}
.ftg-media-icon-029:before {
  content: "k";
}
.ftg-media-icon-042:before {
  content: "l";
}
.ftg-media-icon-043:before {
  content: "m";
}
.ftg-media-icon-030:before {
  content: "n";
}
.ftg-media-icon-017:before {
  content: "o";
}
.ftg-media-icon-004:before {
  content: "p";
}
.ftg-media-icon-005:before {
  content: "q";
}
.ftg-media-icon-018:before {
  content: "r";
}
.ftg-media-icon-031:before {
  content: "s";
}
.ftg-media-icon-044:before {
  content: "t";
}
.ftg-media-icon-045:before {
  content: "u";
}
.ftg-media-icon-032:before {
  content: "v";
}
.ftg-media-icon-019:before {
  content: "w";
}
.ftg-media-icon-006:before {
  content: "x";
}
.ftg-media-icon-007:before {
  content: "y";
}
.ftg-media-icon-020:before {
  content: "z";
}
.ftg-media-icon-033:before {
  content: "A";
}
.ftg-media-icon-046:before {
  content: "B";
}
.ftg-media-icon-047:before {
  content: "C";
}
.ftg-media-icon-034:before {
  content: "D";
}
.ftg-media-icon-021:before {
  content: "E";
}
.ftg-media-icon-008:before {
  content: "F";
}
.ftg-media-icon-009:before {
  content: "G";
}
.ftg-media-icon-022:before {
  content: "H";
}
.ftg-media-icon-035:before {
  content: "I";
}
.ftg-media-icon-048:before {
  content: "J";
}
.ftg-media-icon-049:before {
  content: "K";
}
.ftg-media-icon-036:before {
  content: "L";
}
.ftg-media-icon-023:before {
  content: "M";
}
.ftg-media-icon-010:before {
  content: "N";
}
.ftg-media-icon-011:before {
  content: "O";
}
.ftg-media-icon-024:before {
  content: "P";
}
.ftg-media-icon-037:before {
  content: "Q";
}
.ftg-media-icon-050:before {
  content: "R";
}
.ftg-media-icon-063:before {
  content: "S";
}
.ftg-media-icon-064:before {
  content: "T";
}
.ftg-media-icon-051:before {
  content: "U";
}
.ftg-media-icon-038:before {
  content: "V";
}
.ftg-media-icon-025:before {
  content: "W";
}
.ftg-media-icon-012:before {
  content: "X";
}
.ftg-media-icon-013:before {
  content: "Y";
}
.ftg-media-icon-026:before {
  content: "Z";
}
.ftg-media-icon-039:before {
  content: "0";
}
.ftg-media-icon-052:before {
  content: "1";
}
.ftg-media-icon-065:before {
  content: "2";
}
.ftg-media-icon-062:before {
  content: "3";
}
.ftg-media-icon-061:before {
  content: "4";
}
.ftg-media-icon-060:before {
  content: "5";
}
.ftg-media-icon-059:before {
  content: "6";
}
.ftg-media-icon-058:before {
  content: "7";
}
.ftg-media-icon-057:before {
  content: "8";
}
.ftg-media-icon-056:before {
  content: "9";
}
.ftg-media-icon-055:before {
  content: "!";
}
.ftg-media-icon-054:before {
  content: "\"";
}
.ftg-media-icon-053:before {
  content: "#";
}
.ftg-media-icon-066:before {
  content: "$";
}
.ftg-media-icon-079:before {
  content: "%";
}
.ftg-media-icon-092:before {
  content: "&";
}
.ftg-media-icon-105:before {
  content: "'";
}
.ftg-media-icon-118:before {
  content: "(";
}
.ftg-media-icon-119:before {
  content: ")";
}
.ftg-media-icon-106:before {
  content: "*";
}
.ftg-media-icon-093:before {
  content: "+";
}
.ftg-media-icon-080:before {
  content: ",";
}
.ftg-media-icon-067:before {
  content: "-";
}
.ftg-media-icon-068:before {
  content: ".";
}
.ftg-media-icon-081:before {
  content: "/";
}
.ftg-media-icon-094:before {
  content: ":";
}
.ftg-media-icon-107:before {
  content: ";";
}
.ftg-media-icon-120:before {
  content: "<";
}
.ftg-media-icon-121:before {
  content: "=";
}
.ftg-media-icon-108:before {
  content: ">";
}
.ftg-media-icon-095:before {
  content: "?";
}
.ftg-media-icon-082:before {
  content: "@";
}
.ftg-media-icon-069:before {
  content: "[";
}
.ftg-media-icon-070:before {
  content: "]";
}
.ftg-media-icon-083:before {
  content: "^";
}
.ftg-media-icon-096:before {
  content: "_";
}
.ftg-media-icon-109:before {
  content: "`";
}
.ftg-media-icon-122:before {
  content: "{";
}
.ftg-media-icon-123:before {
  content: "|";
}
.ftg-media-icon-110:before {
  content: "}";
}
.ftg-media-icon-097:before {
  content: "~";
}
.ftg-media-icon-084:before {
  content: "\\";
}
.ftg-media-icon-071:before {
  content: "\e000";
}
.ftg-media-icon-072:before {
  content: "\e001";
}
.ftg-media-icon-085:before {
  content: "\e002";
}
.ftg-media-icon-098:before {
  content: "\e003";
}
.ftg-media-icon-111:before {
  content: "\e004";
}
.ftg-media-icon-124:before {
  content: "\e005";
}
.ftg-media-icon-125:before {
  content: "\e006";
}
.ftg-media-icon-112:before {
  content: "\e007";
}
.ftg-media-icon-099:before {
  content: "\e008";
}
.ftg-media-icon-086:before {
  content: "\e009";
}
.ftg-media-icon-073:before {
  content: "\e00a";
}
.ftg-media-icon-074:before {
  content: "\e00b";
}
.ftg-media-icon-087:before {
  content: "\e00c";
}
.ftg-media-icon-100:before {
  content: "\e00d";
}
.ftg-media-icon-113:before {
  content: "\e00e";
}
.ftg-media-icon-126:before {
  content: "\e00f";
}
.ftg-media-icon-127:before {
  content: "\e010";
}
.ftg-media-icon-114:before {
  content: "\e011";
}
.ftg-media-icon-101:before {
  content: "\e012";
}
.ftg-media-icon-088:before {
  content: "\e013";
}
.ftg-media-icon-075:before {
  content: "\e014";
}
.ftg-media-icon-076:before {
  content: "\e015";
}
.ftg-media-icon-089:before {
  content: "\e016";
}
.ftg-media-icon-090:before {
  content: "\e017";
}
.ftg-media-icon-077:before {
  content: "\e018";
}
.ftg-media-icon-078:before {
  content: "\e019";
}
.ftg-media-icon-091:before {
  content: "\e01a";
}
.ftg-media-icon-104:before {
  content: "\e01b";
}
.ftg-media-icon-103:before {
  content: "\e01c";
}
.ftg-media-icon-102:before {
  content: "\e01d";
}
.ftg-media-icon-115:before {
  content: "\e01e";
}
.ftg-media-icon-116:before {
  content: "\e01f";
}
.ftg-media-icon-117:before {
  content: "\e020";
}
.ftg-media-icon-130:before {
  content: "\e021";
}
.ftg-media-icon-129:before {
  content: "\e022";
}
.ftg-media-icon-128:before {
  content: "\e023";
}
