$font-family: 'Lato';
$font-weight: 300;

body
{
  font-family: $font-family;
  font-weight: $font-weight;
  padding-top: 56px;
}

fieldset
{
  margin-bottom: 1em;
}

.table
{
  & > tbody > tr > td
  {
    vertical-align: middle;
  }
}

.image-column
{
  position: relative;

  .toolbar
  {
    position: absolute;
    top: 20px;
    right: 15px;

    @extend .btn-group;
  }
}

.featured-image-uploader
{
  position: relative;
  background: url('../img/transparent-grid-bg.png');
  max-width: 400px;
  min-height: 300px;

  .toolbar
  {
    position: absolute;
    top: 15px;
    right: 15px;

    @extend .btn-group;
  }

  .dropzone
  {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;

    .dz-preview
    {
      margin: 0;
      padding: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      @include translate(-50%, -50%);
    }

    .upload-message
    {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      @include translate(-50%, -50%);
    }
  }


}

.slideshow-image-uploader
{
  border: dashed 3px #ccc;
  min-height: 250px;
  margin-bottom: $grid-gutter-width;

  &.placeholder
  {
    background: transparent url('../img/upload.svg') no-repeat 50% 50%;
    background-size: 207px 152px;
  }
}

.file-uploader
{

  .file-info
  {
    margin-bottom: 20px;
  }

  .dropzone
  {
    border: dashed 3px #ccc;
    min-height: 150px;
    margin-bottom: $grid-gutter-width;
  }

  &.placeholder
  {
    .dropzone
    {
      background: transparent url('../img/upload.svg') no-repeat 50% 50%;
      background-size: 100px 73px;
    }
  }
}

.snapstacks-credit
{
  color: #ccc;
  display: inline-block;
  margin-bottom: 1em;

  span
  {
    display: block;
    width: 180px;
    height: 48px;
    background: transparent url('../img/logo-credit.svg') no-repeat 50% 50%;
    background-size: 180px 48px;
    margin-top: 5px;
    @include hide-text;
  }

  &:hover
  {
    text-decoration: none;
    color: #ccc;
  }
}

.bootbox-input-textarea
{
  height: 200px !important;
}

.social-btns
{
  margin-bottom: 1em;
}

footer.footer
{
  padding: 2em 0;
}

.sortable-table tr {

  &.placeholder
  {
    display: block;
    background: red;
    position: relative;
    margin: 0;
    padding: 0;
    border: none;

    &:before
    {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border: 5px solid transparent;
      border-left-color: red;
      margin-top: -5px;
      left: -5px;
      border-right: none;
    }
  }

  td.sort-handle
  {
    background: #eee;
    color: #bbb;
    cursor: move;
    width: 1px;
  }
}

a.sort-handle
{
  cursor: move;
  margin-right: 10px;
}

.dragging-placeholder
{
  display: block;
  background: red;
  position: relative;
  margin: 0;
  padding: 0;
  border: none;

  &:before
  {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left-color: red;
    margin-top: -5px;
    left: -5px;
    border-right: none;
  }
}

.panel-placeholder
{
  border: dashed 1px #ccc;
  height: 40px;
  margin: 10px 0;
}

.panel-heading
{
  &.draggable
  {
    //cursor: move;
  }
}

th.button-column
{
  width: 1px;
}

.navigation-items
{
  border: dashed 3px #ccc;
  min-height: 400px;
  padding: 5px;

  .list-group-item
  {
    margin-top: 5px;

    &:first-child
    {
      margin-top: 0;
    }
  }
}

.gallery-container
{
  @extend .row;

  .sortable-placeholder
  {
    position: relative;
    @extend .col-xs-6;
    @extend .col-md-3;
    @extend .col-lg-2;

    &:after
    {
      content: '';
      display: block;
      padding-top: 50%;
      padding-bottom: 50%;
      border: dashed 3px #ccc;
    }
  }
}

.gallery-item
{
  cursor: move;
  position: relative;
  @extend .col-xs-6;
  @extend .col-md-3;
  @extend .col-lg-2;

  .overlay
  {
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    margin: 0;
    @include translate(-50%, -50%);
  }

  &:hover
  {
    .overlay
    {
      display: block;
    }
  }
}

.page-header
{
  margin-top: 20px;
}

a.thumbnail
{
  &.selected
  {
    border: solid 3px #ff0000 !important;
  }
}

.transparent-backdrop
{
  background: url('../img/transparent-grid-bg.png');
}

// image container
.image-preview
{
  display: block;
  position: relative;
  background: url('../img/transparent-grid-bg.png');
  width: 250px;
  height: 250px;
  cursor: pointer;

  .upload-icon
  {
    color: #fff;
    font-size: 72px;
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    @include translate(-50%, -50%);
  }

  &:hover
  {

    .upload-icon
    {
      display: block;
    }
  }
}

.ace-editor
{
  height: 200px;
}

.text-preview-cell
{
  position: relative;
  cursor: pointer;
}

.text-preview-column
{
  //border: 1px dashed #666;
  position: absolute;
  left: $table-cell-padding;
  top: $table-cell-padding;
  right: $table-cell-padding;
  bottom: $table-cell-padding;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.maskable
{
  position: relative;

  .mask
  {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255, 0.7);
    z-index: 999;
  }
}