.navbar-fixed-top
{
  border-top: solid 5px #9ecb3b;
}


.sidebar
{
  position: fixed;
  top: 56px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 0 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f5f5f5;
  font-size: 20px;

  .main
  {
    overflow: hidden;
  }

  .sidebar-toggle
  {
    margin: -10px -15px 5px;
    padding: 0;
    display: none;
    @include clearfix;

    @media (max-width: $screen-xs-max) {
      display: block
    }

    a
    {
      margin: 0;
      padding: 0;
      float: right;
    }
  }

  @media (max-width: $screen-xs-max) {
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

  .sidebar-footer
  {
    font-size: 14px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
  }

  .collapse
  {

    &.open
    {
      display: block;
      visibility: visible;
    }

    @media (min-width: $screen-sm-min) {
      display: block;
      visibility: visible;
    }
  }

  h3
  {
    font-size: 18px;
    color: #fff;
    background-color: #444;
    margin: 0 -20px 20px;
    padding: 0;

    a
    {
      display: block;
      margin: 0;
      padding: 20px;
      color: #fff;
    }
  }



  &.secondary {
    font-size: 16px;
    background-color: #eee;
    margin-left: 55px;
    padding-top: 5px;
  }
}

.nav-sidebar
{
  margin-right: -20px;
  margin-bottom: 20px;
  margin-left: -20px;

  li.divider
  {
    border-bottom: solid 1px #ddd;
    margin: 0 20px;
  }
}

.stack-navbar-header
{
  display: none;
}

.navbar-nav
{
  .user-avatar
  {
    width: 36px;
    float: left;
    margin-top: -7px;
    margin-right: 10px;
    @extend .img-circle;
  }
}

.nav-tabs
{
  margin-bottom: $grid-gutter-width;
}


.nav-label
{
  margin-left: 8px;
}

.nav-sidebar
{
  &.collapsed
  {
    .nav-label
    {
      @extend .sr-only;
    }
  }
}

.content-pane
{
  @extend .col-md-offset-2;
  @extend .col-md-10;

  &.padded
  {
    padding-left: 55px + $grid-gutter-width;
  }
}

.std-navbar-header
{
  background: rgba(255,255,255,0.2);
  margin-left: -$grid-gutter-width / 2 !important;
  padding-left: $grid-gutter-width / 2 !important;
  width: 55px;

}