.snap-preview
{
  margin: 10px;
  position: relative;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

  .credit
  {
    position: absolute;
    background: rgba(0,0,0,0.75);
    color: #fff;
    z-index: 1000;
    display: none;
    left: 0;
    right: 0;
    @include clearfix;

    p
    {
      font-size: 14px;
      padding: 8px 10px;
      margin: 0;
    }
  }

  &:hover
  {
    .credit
    {
      display: block;
    }
  }

  .snap-content
  {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: #fff url('../img/ajax-loader-ffffff.gif') no-repeat 50% 50%;

    & > a
    {

      &:after
      {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 11;
        -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.3);
      }
    }
  }

  &:before,
  &:after
  {
    position: absolute;
    width: 40%;
    height: 10px;
    content: ' ';
    left: 5px;
    bottom: 5px;
    background: transparent;
    -webkit-transform: skew(-5deg) rotate(-5deg);
    -moz-transform: skew(-5deg) rotate(-5deg);
    -ms-transform: skew(-5deg) rotate(-5deg);
    -o-transform: skew(-5deg) rotate(-5deg);
    transform: skew(-5deg) rotate(-5deg);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  &:after
  {

    left: auto;
    right: 5px;
    -webkit-transform: skew(5deg) rotate(5deg);
    -moz-transform: skew(5deg) rotate(5deg);
    -ms-transform: skew(5deg) rotate(5deg);
    -o-transform: skew(5deg) rotate(5deg);
    transform: skew(5deg) rotate(5deg);
  }

}


.snap-viewer
{
  position: relative;
  background: #333;

  @media (min-width: $screen-md-min) {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .lightbox
  {
    position: relative;
    background: #333 url('../img/ajax-loader-333333.gif') no-repeat 50% 50%;
    //margin-top: 52px;
    padding: 0;

    @media (min-width: $screen-md-min) {
      position: absolute;
      left: 0;
      top: 52px;
      bottom: 0;
      margin: 0;
    }

    .next_previous_btns
    {
      @include clearfix;

      .next_previous_link
      {
        position: relative;
        display: inline-block;
        color: #fff;
        margin: 0;
        width: 49.5%;
        padding: 10px 0;
        text-align: center;
        font-size: 30px;

        &.previous
        {
          float: left;
        }

        &.next
        {
          float: right;
        }

        &:hover
        {
          background: #444;
        }

        @media (min-width: $screen-md-min) {
          position: absolute;
          display: block;
          font-size: 48px;

          top: 0;
          bottom: 0;
          z-index: 100;
          opacity: 0;
          width: auto;
          padding: 0;

          &.previous
          {
            left: 0;
            right: 50%;
            float: none;
          }

          &.next
          {
            right: 0;
            left: 50%;
            float: none;
          }

          i
          {
            position: absolute;
            top: 50%;
            left: 50%;
            @include translate(-50%, -50%);
          }

          &:hover
          {
            opacity: 1;
            background: rgba(0,0,0,0.3);
          }
        }
      }
    }


    .liner
    {
      position: relative;
      padding: 0;

      @media (min-width: $screen-md-min) {
        position: absolute;
        top: 10px;
        bottom: 10px;
        left: 10px;
        right: 10px;
      }

      img
      {
        position: relative;
        max-width: 100%;
        margin: 0;

        @media (min-width: $screen-md-min) {
          position: absolute;
          max-height: 100%;
          left: 50%;
          top: 50%;
          @include translate(-50%, -50%);
        }
      }
    }
  }

  .meta
  {
    position: relative;
    background: #fff;
    padding: 0;

    @media (min-width: $screen-md-min) {
      position: absolute;
      right: 0;
      top: 51px;
      bottom: 0;
      padding: 0;
    }

    .scroll-section
    {
      position: relative;

      @media (min-width: $screen-md-min) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 57px;
        overflow: scroll;

      }

      .author-block
      {
        padding: 10px 20px;
        margin: 0;
        border-bottom: solid 1px #ccc;
      }

      .comments
      {
        background: #eee;
        font-size: 90%;
        min-height: 2em;

        @media (min-width: $screen-md-min) {
          min-height: 0;
        }

        .media
        {
          padding: 10px 30px;
          margin: 0;
        }
      }
    }

    .toolbar
    {
      position: relative;
      padding: 10px;
      background: #fff;
      border-top: solid 1px #ccc;
      border-bottom: solid 1px #ccc;

      @media (min-width: $screen-md-min) {
        position: absolute;
        z-index:1000;
        bottom: 0;
        left: 0;
        right: 0;


      }

      .form-control
      {
        border-left: none;
      }
    }

    .credit-block
    {
      margin: 0;
      padding: 1em 0;

      @media (min-width: $screen-md-min) {
        display: none;
      }
    }
  }
}



.like-btn
{
  &.liked
  {
    color: red;
  }
}