h1, h2, h3,
 label
 {
   font-weight: $font-weight;
 }

.page-header
{
  @include clearfix;

  h1, h2
  {
    margin-top: 0;
  }
}

.checkbox,
.radio
{
  label
  {
    font-weight: 100;

    strong
    {
      font-weight: 300;
    }
  }
}